.container-about{
  background-color: bisque;
  height: 92.2vh;
  color: #000;
  transition: margin-left 0.3s ease-in-out; 
}
.show .container-about{
  width: auto;
  margin-left: 240px;
  transition: margin-left 0.3s ease-in-out; 
}