.container-kepala{
  display: flex;
  background-image: url('/src/assets/textured-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 92.2vh; 
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #faeddd;
  transition: margin-left 0.3s ease-in-out; 
}
.show .container-kepala{
  width: auto;
  margin-left: 240px;
  transition: margin-left 0.3s ease-in-out; 
}

.content {
  justify-content: center;
  text-align: center;
  max-width: 900px;
  min-width: 600px;
  height: 88vh;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}
.content-header{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin: 0 50px;
  margin-top: 20px;
}
.content-header h2 {
  margin-top: 45px;
}
.content-header-edit{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin: 0 50px;
  margin-top: 20px;
}
.content-header-edit h2 {
  margin-top: 4px;
  margin-left: -15px;
}
.arrow-icon{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-left: -20px;
  margin-right: 5px;
}
.arrow-icon h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  margin-top: -2px;
  margin-left: 9px;
}
.container-text{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin: 0 50px;
}
.container-text-2{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  margin: 10px 50px;
  gap: 10px;
}

.content-text label {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}


.text-area-email{
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 15px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px rgb(94, 91, 96) solid;
}

.text-border input{
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 15px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px rgb(230, 87, 87) solid;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.content-text{
  margin-left: -15px;

}
.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}
.spinner-container {
  margin: 40px;
}
@media (max-width: 1000px) {
  .content {
    justify-content: center;
    text-align: center;
    min-width: 400px;
    height: 88vh;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
  }

}
@media (max-width: 700px) {
  .content {
    justify-content: center;
    text-align: center;
    min-width: 300px;
    height: 88vh;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
  }
}